{% extends "codenames/layout.html" %}

{% block body %}

{% if error_message %}
  {{error_message}}
{% endif %}

<div class="container">
  <div class="row">
    <div class="col-md-5">
      {% if active == False %}
      <h4>Game over!</h4>
      {% elif active and user == current_player %}
      <h3 id="currentTeam" data-team-color="{{team_color}}">{{current_turn}}</h3>
      <h4>Your move, <span id="player">{{current_player}}</span>! </h4>
      {% else %}
      <h3 id="currentTeam" data-team-color="{{team_color}}">{{current_turn}}</h3>
      <h4>Waiting on {{current_player}}</h4>
      {% endif %}
    </div>
    {% if 'guess' in current_turn %}
    <div class="col-md-7">
      <h3> Current clue: <span id="clue-word">"{{current_clue.word}}"</span><span id="clue-number"> {{current_clue.number}}</span></h3>
      <h4>Number of guesses so far: {{current_guess_number}}</h4>
    </div>
    {% endif %}
  </div>

  {% for word_row in word_rows %}
  <div class="row text-center word-row" >
    {% for word in word_row %}
      {% if 'give' in current_turn and user == current_player  %}
        <div id="word{{word.id}}" class="col-md-2 word-card" data-color="{{word.color}}" data-chosen="{{word.chosen}}" style="background-color:{{word.color}};">{{word.text}}</div>
        {% else %} <!-- Only show color style to giver -->
        <div id="word{{word.id}}" class="col-md-2 word-card" data-color="{{word.color}}" data-chosen="{{word.chosen}}" >{{word.text}}</div>
      {% endif %}
    {% endfor %}
  </div><!--End board -->

  {% endfor %}
  {% if user == current_player and active %}
    {% if 'give' in current_turn %}
    <div class="input-group">
      <input id="clue-text" type="text" class="form-control" placeholder="My Clue">
      <span class="input-group-btn">
        <button id="submit-clue" class="btn btn-default" type="button">Give clue!</button>
      </span>
    </div><!-- /input-group -->
    Number of cards:
    <select id="card-count" class="form-control">
      <option>0</option>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
    {% else %}
      <div class="row text-center" >
        <button id="submit-guess" class="btn btn-lg">Submit Guess</button>
      </div>
    {% endif %}
  {% endif %}

  <div class="row">
    <div class="col-md-5">
      Past Clues: {{past_clues}}
    </div>

    <div class="col-md-7">
      Past Guesses: {{past_guesses}}
    </div>

    <div class="row text-center">
      <h4>Players:</h4>
      {% for color, team in players.items %}
      <div class="row">
      <strong>{{color}}</strong>
        {% for player in team %}
          {{player}}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
  </div>

</div>
{% endblock %}
