{% extends "polls/layout.html" %}

{% block body %}

<div class="container">
  <div class="col-md-4">
    <h4>Create a new item!</h4>

    <form action="" method="post">
    {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create" />
    </form>
  </div>
  <div class="col-md-8">
    <div class="row">
      Search for images:  <input type="text" id="search-text">
      <button type="button" class="btn btn-secondary btn-lg" id="submit-search">
        Search
      </button>
    </div>
    <div class="list-group">
      <div class="list-group-item image-choice-container" >
        <img class="image-choice" src="#" />
      </div>
      <div class="list-group-item image-choice-container">
        <img class="image-choice" src="#" />
      </div>
      <div class="list-group-item image-choice-container">
        <img class="image-choice" src="#" />
      </div>
    </div>
  </div>
</div>

{% endblock %}
